.App {
  text-align: center;
}

.card-sizing {
  width: 30vw;
  min-height: 15vw;
  max-height: 20vw;
  overflow: auto;
}

.card-text-style {
  font-style: italic;
  overflow: hidden;
}

.card-tags-style {
  font-style: italic;
}